expense_tracker/expense_tracker.json
{
  "name": "expense_tracker",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -576,
        16
      ],
      "id": "4806cadd-b6d0-41bd-94c7-7380ddf4f7e9",
      "name": "Telegram Trigger",
      "webhookId": "70b2f118-0b35-45ac-b61c-223ab3d2a0bf",
      "credentials": {
        "telegramApi": {
          "id": "try2o5RsFclLPnlv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "Analyze this receipt image. Extract the following data from it and return it in JSON format (without the ```json markdown blocks): { \"date\": \"DD-MM-YYYY\", \"store\": \"Store name\", \"category\": \"One of: Grocery, Transportation, Home, Entertainment, Other\", \"amount\": \"Amount as a number (use a dot for cents)\", \"description\": \"A short summary of what was purchased (max 5 words)\" }\n"
            },
            {
              "type": "image",
              "imageType": "base64"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -96,
        -144
      ],
      "id": "0cf93a31-b3ff-4bf3-8c1b-7deb231847ec",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "7OHTCuTyiJs5EOkc",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst aiResponse = $input.first().json.output[0].content[0].text\n\nconst jsonStartIndex = aiResponse.indexOf('{');\nconst jsonEndIndex = aiResponse.lastIndexOf('}') + 1;\nconst cleanJson = aiResponse.substring(jsonStartIndex, jsonEndIndex);\n\nreturn JSON.parse(cleanJson);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        -144
      ],
      "id": "5cb84d57-c3fe-4dff-95b7-a8bc980528ad",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1jh9tLRxQJWfyohUsuOhTlNKz-Z-7bxEoA3acaIqPZHA",
          "mode": "list",
          "cachedResultName": "expenses",
          "cachedResultUrl": "YOUR_GOOGLE_SHEET_LINK_HERE"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Arkusz1",
          "cachedResultUrl": "YOUR_GOOGLE_SHEET_LINK_HERE"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data": "={{ $json.date }}",
            "Sklep": "={{ $json.store }}",
            "Kategoria": "={{ $json.category }}",
            "Kwota": "={{ $json.amount }}",
            "Opis": "={{ $json.description }}"
          },
          "matchingColumns": [
            "Data"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sklep",
              "displayName": "Sklep",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Kategoria",
              "displayName": "Kategoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Kwota",
              "displayName": "Kwota",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Opis",
              "displayName": "Opis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        464,
        -144
      ],
      "id": "a8b4ea03-b55d-40ff-86e3-17d3bfaa0e08",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pjhr97hSV5Rf9Sax",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Dodano paragon z {{ $json.Sklep }} na kwotę {{ $json.Kwota }} PLN.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        672,
        -144
      ],
      "id": "ef8a9d0c-accc-4b7f-95c8-8a9912335298",
      "name": "Send a text message",
      "webhookId": "7c343486-5133-41e5-8689-1fd195bb7f03",
      "credentials": {
        "telegramApi": {
          "id": "try2o5RsFclLPnlv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.photo }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "e56ff774-0924-47e4-9005-01ce781a6001"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3921e7e9-9a11-4826-860c-f2f0702a77bb",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -336,
        16
      ],
      "id": "4a9049f7-5ae5-4ed6-beb8-9b2367517682",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        672,
        112
      ],
      "id": "e9e9fe98-f51b-4cb1-a591-2a87d1c30d5f",
      "name": "Send a text message1",
      "webhookId": "b64f67d4-7d7c-427b-af00-a5b990fbfd1d",
      "credentials": {
        "telegramApi": {
          "id": "try2o5RsFclLPnlv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are an intelligent financial analyst.\n\nHere is the data about the user's spending - \n\nToday's date: {{ $today }}\n\nUser's question: \"{{ $json.message.text }}\"\n\nYour task:\n\n- Analyze the data in the context of the question.\n\n- If you need to calculate a sum or average, do so very carefully.\n\n- Answer briefly and specifically in Polish. Don't make up facts; rely solely on the data provided.    "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -96,
        96
      ],
      "id": "17e8cde7-3d2b-484d-94ab-13be5e521b11",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -224,
        288
      ],
      "id": "811848e4-08f3-475a-ab09-2e295308cdbf",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "7OHTCuTyiJs5EOkc",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jh9tLRxQJWfyohUsuOhTlNKz-Z-7bxEoA3acaIqPZHA",
          "mode": "list",
          "cachedResultName": "expenses",
          "cachedResultUrl": "YOUR_GOOGLE_SHEET_LINK_HERE"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Arkusz1",
          "cachedResultUrl": "YOUR_GOOGLE_SHEET_LINK_HERE"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        96,
        288
      ],
      "id": "031c2bc3-8b0f-4c46-b945-0547afd6a9f5",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pjhr97hSV5Rf9Sax",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "82266b6a-a948-4b49-b96e-6b5cb7ecca3d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b2b258455893ceb09bbc112ef3eab0867bf45a3af13e95a146beb716ed47dc1"
  },
  "id": "Ep2pZe0K8lSTqoBQ3Krf2",
  "tags": []
}
