incident_monitor/incident_monitor.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "incident-monitor",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -592,
        32
      ],
      "id": "c679ae11-20e9-4f20-9228-5d50b452680a",
      "name": "Webhook",
      "webhookId": "252f9981-261f-4b39-b3fd-c9dba1696749",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are helpful IT assistant. Analyze the error: {{ $json.body.error_code }} on the {{ $json.body.service }} service. Briefly describe (max 3 sentences) what might be causing it and what to check first.",
        "options": {
          "systemMessage": "="
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        176
      ],
      "id": "96f3a46b-724b-4112-8917-701f8b74e6b9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        160,
        352
      ],
      "id": "1202f820-1af4-4d41-94b9-b2d53ff231d3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "q3Oizh4sdaFeifUi",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "sendAndWait",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#general",
          "mode": "name"
        },
        "message": "=*INCIDENT DETECTED*\n*Service:* {{ $('Webhook').item.json.body.service }}\n*Error:* {{ $('Webhook').item.json.body.error_code }}\n*AI Solution:* {{ $json.output }}",
        "approvalOptions": {
          "values": {}
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        576,
        32
      ],
      "id": "52c5a3a5-29bf-4a46-aef2-d20c659c92de",
      "name": "Send message and wait for response",
      "webhookId": "7bd5bd6e-548f-4bcb-a8fd-6507f635e8b9",
      "credentials": {
        "slackOAuth2Api": {
          "id": "klMKhL7BPIc8ogRq",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Snhztw9J2HpqFyWnRh_hqUkS7hTc9lcUh0rBH_x52Pw",
          "mode": "list",
          "cachedResultName": "Incident_tracker",
          "cachedResultUrl": "PASTE THE URL OF YOUR GOOGLE SHEET HERE"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Arkusz1",
          "cachedResultUrl": "PASTE THE URL OF YOUR GOOGLE SHEET HERE"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "AI Solution": "={{ $json.output }}",
            "Date": "={{ $today }}",
            "Service": "={{ $('Webhook').item.json.body.service }}",
            "Error code": "={{ $('Webhook').item.json.body.error_code }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Service",
              "displayName": "Service",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error code",
              "displayName": "Error code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AI Solution",
              "displayName": "AI Solution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Logs",
              "displayName": "Logs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        576,
        272
      ],
      "id": "d5343461-ce68-41ca-b029-e642c3526fe8",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VVqgkuVOGmRAgDrg",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.webhookUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -352,
        32
      ],
      "id": "7cbf6faa-c684-46a3-8f73-38eb38d7f0c4",
      "name": "HTTP Request",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ABQN10JAJ",
          "mode": "list",
          "cachedResultName": "general"
        },
        "text": " False positive error",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        224,
        -112
      ],
      "id": "0f231fec-9610-4b16-9ca7-c723f0b0e54b",
      "name": "Send a message",
      "webhookId": "e827c71e-9f23-452f-8429-5947275172fe",
      "credentials": {
        "slackOAuth2Api": {
          "id": "klMKhL7BPIc8ogRq",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f2c016c2-4d74-49f4-99c7-279a802b70d5",
              "leftValue": "={{ $json.error.status }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -96,
        32
      ],
      "id": "0aa14388-9a0e-4734-983d-1d8d74281560",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "afe1ce78-a0d5-4246-8765-a51e755f30fc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a82115991d36bacb25b849517fcf81b605b24ea53f71a3448a770e25e888bbf1"
  },
  "id": "E1Hv9Hj4drW0Eu1f",
  "tags": []
}